.body{
    margin: 0;
    padding: 24px 0;
    
}
.gallery {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 24px;
    list-style: none;
}

.gallery-image {
    width: 360px;
    height: 200px;
}